{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-4xl font-bold mb-4">Admin</h1>
                <p class="text-lg">Hey, {{ user.global_name }}, here are your Discord servers!</p>
                {% import 'server-card.html' as cards %}
                {% for guild in guilds %}
                {{ cards.render_server_card(guild, "/app/admin/guild/" + guild.id) }}
                {% endfor %}
        </div>
    </div>
{% endblock %}