{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-4xl font-bold mb-4">{{ guild.name }}</h1>
                <p class="text-lg">Your guild has been updated.  You might have to wait a minute or two for the changes to be applied to AlphaGameBot!</p>
                <p><a class="text-blue-500 underline hover:text-blue-700" href="/app/admin">Back to Guilds</a></p>
            </div>
        </div>
    </div>
{% endblock %} 